body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:949px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:581px;
  width:170px;
  height:47px;
}
#u108_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u108.selected {
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:166px;
  word-wrap:break-word;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:109px;
  width:393px;
  height:82px;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  white-space:nowrap;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:240px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:262px;
  width:214px;
  height:240px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:215px;
  width:97px;
  height:37px;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:581px;
  width:170px;
  height:47px;
}
#u112_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u112.selected {
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:166px;
  word-wrap:break-word;
}
