/* OPPONENT */

#opponent{
    width: 650px;
    height: 355px;
}

#cardsOnFieldOpponent {
    top: 250px;
}

#cardsInHandOpponent {
    position: absolute;
    left: 220px;
    width: 260px;
    height: 95px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
}

#cardsInHandOpponent div{
    width: 80px;
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 0 -40px;
}

#manaCrystalsOpponent{
    position: absolute;
    top: 95px;
    left: 481px;
    background-color: darkblue;
    width: 45px;
    height: 16px;
    border-radius: 1rem;

}

#manaCrystalsNumberOpponent {
    position: absolute;
    left: 4px;
    width: 10px;
    color: white;
    font-weight: bold;
}

#manaCrystalSliceOpponent {
    position: absolute;
    left: 22px;
    width: 10px;
    color: white;
    font-size: larger;
    font-weight: bold;
}

#manaCrystalsLimitsOpponent {
    position: absolute;
    left: 29px;
    color: white;
    font-weight: bold;
}

#heroOpponent {
    position: absolute;
    display: flex;
    flex-direction: row;
}


#heroWeaponOpponent {
    position: absolute;
    left: 205px;
    top: 160px;
}


#heroWeaponAttackOpponent {
    position: absolute;
    left: 218px;
    top: 214px;
    color: white;
    font-weight: bold;
}

#heroWeaponTurnsOpponent {
    position: absolute;
    left: 275px;
    top: 214px;
    color: white;
    font-weight: bold;
}

#heroPictureOpponent {
    position: absolute;
    left: 293px;
    top: 120px;
    margin-bottom: 15px;
}

#heroShieldOpponent {
}

#heroLifePointsOpponent {
    position: absolute;
    left: 392px;
    top: 182px;
    color: white;
    font-weight: bold;
}

#heroLifePointsOpponent {
    position: absolute;
    left: 390px;
    top: 218px;
    color: white;
    font-weight: bold;
}

#heroPowerOpponent {
    position: absolute;
    left: 409px;
    top: 150px;
}
