/* cross page css */

header h1 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 4rem;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* CSS for 0_welcomeScreen */

/* CSS for 1_deckbuildOrPlay */

#oneDeckBuild {
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    color: blue;
    margin-left: auto;
    margin-right: auto;
}
.deckBuild {
    /*display: flex;*/
    flex-direction: column;
    background-color: green;
    width: 400px;
    height: 600px;
}

.Play {
    /*display: flex;*/
    flex-direction: column;
    background-color: orange;
    width: 400px;
    height: 600px;
}


/* CSS for 2_chooseYourHero */

#twoChoosingTheHero {
    display: flex;
}
#twoChoosingTheHero article {
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: deepskyblue;
}


/* CSS for 3_chooseDeckForHero */

#threeChooseYourHero {
    display: flex;
}

#threeChooseYourHero article:first-child {
    flex-direction: column;
    width: 350px;
    height: 550px;
    background-color: yellow;
}

#threeChooseYourHero article:nth-child(2) {
    background-color: yellow;
}

#threeMakeItYourself {
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: red;
}

/* CSS for 4_defaultPickYourOpponent */

#fourDefaultPickOpponent {
    display: flex;
}

#fourDefaultPickOpponent div {
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: yellow;
}

/* CSS for 5_makeANewDeck=9deckBuildLevel2 */


/* CSS for 6_gameStartingHand */

#sixMakeANewDeck {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
}

#sixMakeANewDeck div {
    flex-direction: row;
    width: 150px;
    height: 300px;
    margin: 30px;
    background-color: yellow;
}

#sixMakeANewDeck aside {
    flex-direction: column;
    width: 50px;
    height: 200px;
    background-color: red;
}

/* CSS for 7_Field */



/* CSS for 8_deckbuildLevelOne */

#eightDeckBuildLevelOne {
    display: flex;
}

.inhand {
    overflow: auto;
    flex-direction: row;
}

.choices {
    overflow: auto;
    flex-direction: row;
}

/* CSS for 9_deckbuildLevelTwo */


