body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:166px;
  width:285px;
  height:194px;
}
#u707_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u707.selected {
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:166px;
  width:285px;
  height:194px;
}
#u708_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u708.selected {
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:166px;
  width:285px;
  height:194px;
}
#u709_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u709.selected {
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:377px;
  width:285px;
  height:194px;
}
#u710_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u710.selected {
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:377px;
  width:285px;
  height:194px;
}
#u711_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u711.selected {
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:377px;
  width:285px;
  height:194px;
}
#u712_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u712.selected {
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:177px;
  width:54px;
  height:22px;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:177px;
  width:54px;
  height:22px;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:177px;
  width:54px;
  height:22px;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:389px;
  width:54px;
  height:22px;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:389px;
  width:54px;
  height:22px;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:389px;
  width:54px;
  height:22px;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:659px;
  width:170px;
  height:47px;
}
#u719_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:47px;
  background:inherit;
  background-color:rgba(102, 255, 0, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u719.selected {
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:166px;
  word-wrap:break-word;
}
#u720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:659px;
  width:140px;
  height:40px;
}
#u720_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:659px;
  width:170px;
  height:47px;
}
#u721_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u721.selected {
}
#u721_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:166px;
  word-wrap:break-word;
}
#u722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:659px;
  width:140px;
  height:40px;
}
#u722_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:75px;
  width:294px;
  height:37px;
  font-family:'Arial Vet', 'Arial Standaard', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  white-space:nowrap;
}
