/* CSS for 0_welcomeScreen */
main {
    background-image: url("../../images/crossPageBackground.png");
    background-repeat: no-repeat;
    width: 1024px;
    height: 768px;
    position: relative;
    margin: auto;
}
main a {
    background-image: url("../../images/continue.png");
    background-size: 100%;
    position: absolute;
    left: 405px;
    top: 300px;
    display: inline-block;
    width: 200px;
    height: 200px;
}
main section {
    background-image: url("../../images/transbox.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 350px;
    padding: 20px 40px;
    position: absolute;
    left: 350px;
    top: 650px;
}
main section h1 {
    font-size: 20px;
    font-weight: bold;
}
