
main {
    display: flex;
    flex-direction: column;
    position: relative;
}

main > div {
    display: flex;
    margin: auto;
}

main > div:nth-child(2) > section {
    flex-direction: column;
    width: 330px;
    height: 420px;
    background-image: url('../media/kaderUpgradeChooseYrHero.png');
    background-size: 330px;
    background-repeat: no-repeat

}
main > div:nth-child(2) > section:first-child {
    margin-right: 50px;
}

main > div  section h2 {
    position: absolute;
    top: 210px;
    margin-left: 130px;
    font-size: 1.5rem;
    text-align: center;
}

main > div section div  {
    margin-left: 65px;
    margin-top: 80px;
    background-repeat: no-repeat;
    background-size: 275px;
    background-position: 0px;
    height: 200px;
    width: 200px;
}

main > div section:first-child div {
    /* andere images */
    background-image: url('../media/JainaChooseYrHero.jpg');
}

main > div section:nth-child(2) div {
    /* andere images */
    background-image: url('../media/AnduinChooseYrHero.jpg');
}

main > div section p {
    margin: 5px 60px 0 60px;
}

main > div:nth-child(3) >section  {
    flex-direction: column;
    width: 500px;
    height: 500px;
}

main > div:nth-child(3) section {
   width: 150px;
   height: 150px;
   background-image: url('../media/chooseYrDeckSymbol.png');
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

main > div:nth-child(3) section h3 {
   position: relative;
   left: 125px;
   top: 50px;
   visibility: hidden;
   border-radius: 10px;
   padding: 5px 5px 5px 5px;
   line-height: 20px;
   background-color: sandybrown;
   color: white;
   text-align: center;
   /*Q wrm border radius niet goed werkt + wrm tekst onder elkaar staat*/
}
main > div:nth-child(3) section:hover h3 {
   visibility: visible;
}
