body {
    display: flex;
    flex-direction: column;
}



header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*margin-left: 50px;*/
    /*background-color: green;*/
}

header h1 {
    width: 100%;
    max-height: 50px;
    padding-right: 650px;
    padding-top: 10px;
    margin: auto;
}

#theDickPick {
    width: 200px;
    height: 200px;
}

header div:nth-child(2) {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 50px;
}

/*header div:nth-child(2) div {*/
/*display: flex;*/
/*flex-direction: column;*/
/*}*/

h2 {
    display: inline-block;
    /*color: darkgreen;*/
}
/*rutgerCobofiskCoopman*/
.inputTitle { /* deck title */
    outline: none;
    background: none;
    /*color: rebeccapurple;*/
    border-radius: 10px;
    border: 2px solid black;
}
.inputDescription {
    color: black;
    font-size: 1rem;
    width: 700px;
    height: 150px;
    opacity: 0.6;
}

h2:first-child {
    width: 200px;
}

h2:nth-child(2) {
    width: 200px;
}

h3 {
    color: green;
    font-weight: bold;
}

h4 {
    color: rebeccapurple;
}

main {
    display: flex;
    flex-direction: row;
}

main > article:first-child {
    background-image: url('../media/papyrusForDeckbuilder.png');
    background-repeat: no-repeat;
    background-size: 92% 120%;
    /*background-color: sandybrown;*/

}


main > article:nth-child(2) {
    display: flex;
    flex-direction: column;
}

#specificCards {
    /*background-color: green;*/
    opacity: 0.6;
    background-color: whitesmoke;
}
#generalCards {
    /*background-color: rebeccapurple;*/
    background-color: whitesmoke;
    opacity: 0.6;
}

footer {
    display: flex;
    flex-direction: row;
}

.addScrollbarHere {
    flex: 1;
    overflow: auto; /*dit werkt pas met een vastgezette hoogte*/
    height: 400px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    /*background-color: #ff0000;*/
}

.card {
    width: 140px;
    height: 205px;
    background-size: 100% 100%;
}

.cardHand {
    width: 95px;
    height: 150px;
    background-size: 100% 100%;
}



