/* CSS for 8_deckbuildLevelOne */

body {
    padding-top: 1px;
    background-repeat: no-repeat;
    background-image: url("../../images/crossPageBackground.png");
    background-size: 1024px 768px;
    width: 1024px;
    height: 768px;
    background-position: center;
    justify-content: center;
    margin: 0 auto 0 auto;
}

header {
    padding-top: 50px;
    padding-bottom: 50px;
    size: auto;
}

.heroes {
    height: 200px;
    width: auto;
    display: flex;
    background-color: chartreuse;
    flex-direction: row;
    margin: auto 50px;
    overflow: auto;
}

.decks {
    display: flex;
}

.hero {
    background-color: brown;

}

section ul:first-child {
    background-color: red;
}

.choices {

}
